@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("/css/var.css");

html{
	font-family: Poppins, Segoe UI, sans-serif;
	font-size: 12pt;
	color: var(--text-color);
	text-align: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
    box-shadow: 0 4px 8px rgba(36, 30, 30, 0.2);
    position: fixed;
    top: 0; /* Asegúrate de que esté en la parte superior */
    left: 0; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
    width: 100%; /* Asegúrate de que ocupe el 100% del ancho */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}
body {
	margin-top: 10vh;
	background-color: var(--e-global);
	
	background-size: cover;
	background-position: right;
	color: #cacaca;
	font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	color: #333;
	line-height: 1.5;
	min-height: 100vh;

}



ul,
ol {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}


h1{
	font-size: 3rem;
	font-weight: 900;
	color: #2E4053;
	text-transform: uppercase;
}

h2 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: var(--color-primary);
	text-align: center;
}

h3 {
	font-size: 1.75rem;
	margin-top: 30px;
	color: rgb(171, 207, 240);
}

p {
	font-size: 1.1rem;
	margin-bottom: 20px;
}

h2, h3, p {
	margin: 10px 0; /* Añade espacio entre los elementos */
}
ul {
	list-style-type: disc;
	margin-left: 20px;
}



section {
    border: 1px solid #ccc; /* Línea de borde de color gris claro */
    padding: 20px; /* Espaciado interno para que el contenido no esté pegado al borde */
    margin-bottom: 20vh; /* Espaciado entre secciones */
    border-radius: 10px; /* Bordes redondeados si lo deseas */
    background-color: #ffffff; /* Color de fondo para la sección */
}

textarea {
    resize: none; /* Deshabilita el redimensionamiento manual */
    overflow: hidden	;	 /* Oculta el scroll */
    width: 100%; /* Ajusta el ancho al 100% */
    min-height: 50px; /* Altura mínima */
    font-family: inherit; /* Asegura que use la misma fuente */
    font-size: inherit; /* Asegura que use el mismo tamaño de fuente */
}

footer {
	background-color:#2E4053;
	color: aliceblue;
    padding: 10px 0;
	width: 90%;
	margin: 0 auto;
     /* Ancho del footer al 80% de la pantalla */
    min-height: 10vh;
    display: grid; /* Cambiar a flexbox para alinear elementos */
	justify-items: center;
    align-items: center;/* Centrar verticalmente */
    border-radius: 10px 10px 0 0;
	padding: auto 0;
	box-shadow: 0 4px 8px rgba(36, 30, 30, 0.2);
}


@media (max-width: 768px) {
    html {
        font-size: 10pt; /* Reducir el tamaño de fuente */
    }

    h1 {
        font-size: 2.5rem; /* Reducir tamaño de h1 */
    }

    h2 {
        font-size: 2rem; /* Reducir tamaño de h2 */
    }

    h3 {
        font-size: 1.5rem; /* Reducir tamaño de h3 */
    }

    p {
        font-size: 1rem; /* Reducir tamaño de párrafo */
    }

    footer {
        width: 95%; /* Ajustar el ancho del footer */
        padding: 5px 0; /* Reducir el padding del footer */
    }
	
		
}
