:root {
	--color-azul: #2C3E50;
	--color-primary: #18BC9C;
	--color-primary2: #6f0599;
	--accent-color: #8672FF;
	--back2-color: #5b3eff;
	--base-color: white;
	--text-color: #2E2B41;
	--input-color: #F3F0FF;
	--back-color: #2409c0;

	--e-global: #15B6B8;
	--e-global-color-secondary: #FAFAFA;
	--e-global-color-text: #444340;
	--e-global-color-accent: #595854;
	--e-global-color-6d5ef1c: #153CB8;
	--e-global-color-a1538c6: #59585445;
	--e-global-color-f7c7a0a: #E2F6F6;
	--e-global-color-7ba167c: #8ADBDB;
	--e-global-color-4f328ad: #A5C8A8;
}

/*

form{
	width: min(400px, 100%);
	margin-top: 20px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
  }
  form > div{
	width: 100%;
	display: flex;
	justify-content: center;
  }
  form label{
	flex-shrink: 0;
	height: 50px;
	width: 50px;
	background-color: var(--accent-color);
	fill: var(--base-color);
	color: var(--base-color);
	border-radius: 10px 0 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 500;
  }
  form input{
	box-sizing: border-box;
	flex-grow: 1;
	min-width: 0;
	height: 50px;
	padding: 1em;
	font: inherit;
	border-radius: 0 10px 10px 0;
	border: 2px solid var(--input-color);
	border-left: none;
	background-color: var(--input-color);
	transition: 150ms ease;
  }
  form input:hover{
	border-color: var(--accent-color);
  }
  form input:focus{
	outline: none;
	border-color: var(--text-color);
  }
  div:has(input:focus) > label{
	background-color: var(--text-color);
  }
  form input::placeholder{
	color: var(--text-color);
  }
  form button{
	margin-top: 10px;
	border: none;
	border-radius: 1000px;
	padding: .85em 4em;
	background-color: var(--accent-color);
	color: var(--base-color);
	font: inherit;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	transition: 150ms ease;
  }
  form button:hover{
	background-color: var(--text-color);
  }
  form button:focus{
	outline: none;
	background-color: var(--text-color);
  }
  a{
	text-decoration: none;
	color: var(--accent-color);
  }
  a:hover{
	text-decoration: underline;
  }
  }
  form div.incorrect label{
	background-color: #f06272;
  }
  form div.incorrect input{
	border-color: #f06272;
  }

  */