
:root {
    --background-color: #F5F5F5;
    --text-color: #333;
    --color-primario:  #15b6b8;
    --azul-tenue:#1565b8;
    --azul-oscuro:#1715b8;
    --morado:#6915b8;
    --rosa:#b815b6;
    --rojo:#b81565;
}

