<!DOCTYPE html>
<html lang="es">


	<%- include('./partials/head',{
		title : 'Administración'
	}) %>
	<body><%- include('./partials/header') %>
		<div class="container"> <!-- Contenedor ppal -->
			

    <div class="container--admin">
        <%- include('./partials/aside-admin') %>


        <main class="main-content-admin">
            <section class="text-center">
                <h1>Bienvenido al panel de administrador</h1>
                <p>Aquí puedes administrar tus páginas web</p>
            </section>
            <section>
                <h2 class="mt-4">Administración de páginas</h2>
                <p>Utiliza las opciones del sidebar para gestionar tus páginas.</p>
            </section>
        </main>
    </div>


    <%- include('./partials/footer') %>


</body>
</html>