<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head',{ title : 'Fundacion Emperador' }) %>

  <body>
    <div class="container"> <!-- Contenedor ppal -->
      <%- include('./partials/header') %>


        <div class="container--home">
          <br>
          <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="200" data-aos-offset="0"
            data-aos-duration="3000" id="title" class="title-home">
            <h1 class="text-center">Fundación Emperador</h1></br>
            <h2 class="text-center">Colectivo Sueños</h2>
            <h6 class="text-center">- Juntos en la dificultad -</h6>

          </div>

          <section id="welcome" class="section-welcome">
            <div class="container-welcome">

              <h2 data-aos-delay="300" style="font-style: italic;" data-aos="fade-down" data-aos-duration="2000">De la
                protesta a la propuesta</h2>
              <h3 data-aos-delay="300" data-aos="fade-up" data-aos-duration="2000">NUESTRO OBJETIVO:</h3>
              <p data-aos="zoom-in-up" data-aos-duration="2500">Mejorar la calidad de vida de las personas con
                discapacidad, especialmente las denominadas
                electrodependientes y sus familias.</p>

            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="text-center">
              <!-- Contenedor para centrar el video -->
              <iframe width="560" height="315" src="https://www.youtube.com/embed/F1UEzFTPtuc?si=z_ulyKs2eAsZAeey"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </section>


          <section>

            <article>
              <div data-aos="zoom-in" data-aos-delay="100" data-aos-duration="3000" id="banner" class="banner">
                <img src="/img/banner.jpg" class="img-fluid" alt="Descripción de la imagen">
              </div>
            </article>

            <br>
            <section id="info" class="section-info py-5">


              <div class="row">

                <div data-aos="fade-right" data-aos-duration="2000" data-aos-delay="300"
                  class="col-md-6 col-lg-4 d-flex justify-content-center">
                  <div class="info-box">
                    <h3>¿Quiénes somos?</h3>
                    <p>La Fundación Emperador es una organización dedicada a mejorar la calidad de vida de las personas
                      electrodependientes y sus familias a través de proyectos comunitarios y de apoyo social.</p>
                  </div>
                </div>


                <div data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300"
                  class="col-md-6 col-lg-4 d-flex justify-content-center">
                  <div class="info-box">
                    <h3>Nuestra Misión</h3>
                    <p>Fomentar la inclusión y el bienestar de las personas electrodependientes, garantizando su acceso
                      a
                      recursos y espacios de esparcimiento.</p>
                  </div>
                </div>


                <div data-aos="fade-left" data-aos-duration="2000" data-aos-delay="300"
                  class="col-md-6 col-lg-4 d-flex justify-content-center">
                  <div class="info-box">
                    <h3>Descripción del Problema</h3>
                    <p>“A las personas con movilidad reducida, con dependencia funcional, en condición de
                      electrodependientes (ED), y/o en estadío terminal de su enfermedad, pasear, y más aún vacacionar,
                      se les hace casi imposible”.

                  </div>
                </div>


              </div>
              <br>
              <div data-aos="fade-up" data-aos-duration="2500" data-aos-delay="300">
                <a href="mailto:fundacionemperador@gmail.com"><button type="button" class="btn btn-primary">Contáctanos
                    para más información</button></a>
              </div>
        
        </section>


        <section id="carousel" class="section carousel py-5">
          <div class="container">
            <h2 class="text-center">Información Importante</h2>
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="text-center">
                    <h3>Objetivo</h3>
                    <p>Adaptar un motorhome con elementos de bioseguridad para las personas con movilidad reducida y
                      brindar una solución a la necesidad de esparcimiento de personas que por sus condiciones de
                      criticidad, de dependencia a la energía eléctrica y a su escasa o nula movilidad se ven impedidos
                      de satisfacer.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="text-center">
                    <h3>Un Sueño Colectivo</h3>
                    <p class="text-center">Este proyecto busca empoderar a personas electrodependientes y sus familias,
                      fomentando la empatía y el trabajo comunitario.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </div>
        </section>

        <section id="goals" class="section-goals py-5 bg-dark">
          <div class="container">
            <h2 class="text-center">Objetivos del Proyecto</h2>
            <ul class="list-group">
              <li data-aos="fade-left" class="list-group-item">Aumentar la visibilidad de las necesidades de los
                electrodependientes.</li>
              <li data-aos="fade-right" class="list-group-item">Crear espacios de encuentro y colaboración.</li>
              <li data-aos="fade-up" class="list-group-item">Brindar apoyo terapéutico y social.</li>
              <br>
            </ul>
           
          </div>
          
        </section>



        <section id="gallery" class="section gallery py-5">
          <div class="container">
            <h2 class="text-center">Galería de Actividades</h2>
            <div class="row">
              <div class="col-md-4">
                <img data-aos="zoom-in-left" data-aos-duration="2000" src="/img/img-colectivo.jpg" class="img-fluid gallery-img"
                  alt="Sesión comunitaria">
              </div>
              <div class="col-md-4">
                <img data-aos="zoom-in-up" 
                data-aos-duration="2000" src="/img/colectivo-suenos.jpg" class="img-fluid gallery-img"
                  alt="Taller creativo">
              </div>
              <div class="col-md-4">
                <img data-aos="zoom-in-right" data-aos-duration="2000" src="/img/niño-5.jpg" class="img-fluid gallery-img"
                  alt="Reunión de familias">
              </div>
            </div>
          </div>
        </section>
        <section id="project-info" class="section project-info py-5">
          <div class="container">
            <h2 class="text-center">Información del Proyecto</h2>
            <div class="row">
              <div data-aos="fade-down" class="col-md-12">
                <h3>Presentación</h3>
                <p>Presentación del proyecto a Gobernación de la Pcia de Santa Fe, a la Municipalidad de Rosario, a la
                  Bolsa de Comercio, al Concejo Deliberante de la ciudad de Rosario, Asociación de Clínicas y Sanatorios
                  Privados.</p>
              </div>
              <div data-aos="fade-left" class="col-md-4">
                <h3>Condición Actual</h3>
                <p>En ejecución</p>
              </div>
              <div data-aos="fade-up" class="col-md-4">
                <h3>Presupuesto</h3>
                <p>$8.000.000</p>
              </div>

              <div data-aos="fade-right" class="col-md-4">
                <h3>Financiamiento</h3>
                <p>Gobierno de la Pcia de Santa Fe</p>
              </div>
            </div>
          </div>
        </section>
        <section id="problem-description" class="section problem-description py-5">
          <div class="container">
            <h2 class="text-center">Descripción del Problema</h2>
            <p>“A las personas con movilidad reducida, con dependencia funcional, en condición de electrodependientes
              (ED), y/o en estadío terminal de su enfermedad, pasear, y más aún vacacionar, se les hace casi imposible”.
            </p>
          </div>
        </section>

        <section id="objectives" class="section objectives py-5">
          <div class="container">
            <h2 class="text-center">Objetivos del Proyecto</h2>
            <h3>Objetivo General</h3>
            <p>Brindar una solución concreta a la necesidad de esparcimiento de las personas, que por sus condiciones de
              criticidad, de dependencia a la energía eléctrica y a su escasa o nula movilidad se ven impedidos de
              satisfacer.</p>

            <h3>Objetivos Específicos</h3>
            <ul>
              <li>Adaptar un ómnibus, tipo motorhome y acondicionarlo oportunamente con aparatos de biomedicina,
                otorgándole las condiciones de seguridad y accesibilidad esenciales, para realizar paseos y viajes junto
                a sus familiares.</li>
              <li>Mejorar la calidad de vida de las familias con personas con movilidad reducida y dependencia
                funcional.</li>
              <li>Dar una solución efectiva y eficiente al problema del encierro, confinamiento y aislamiento de las
                personas con dependencia funcional, con ED y pacientes en situación terminal.</li>
            </ul>
          </div>
        </section>

        <section id="justification" class="section justification py-5">
          <div class="container">
            <h2 class="text-center">Fundamentación</h2>
            <p>La dependencia funcional se define como un estado en el cual el sujeto se ve obligado a confiar en la
              asistencia de otros para lograr cubrir sus necesidades. La enfermedad crónica cercena el proyecto de vida
              del paciente y su núcleo familiar, afectando sus sentimientos de esperanza y optimismo. Se prioriza la
              salud y los cuidados médicos, dejando poco espacio para el disfrute y la satisfacción personal.</p>

            <p>En una encuesta realizada en febrero del 2020, el 17% de las familias de nuestra Fundación nunca pudo
              salir de paseo en familia, y el 48% nunca pudo viajar. La internación domiciliaria se convierte en una
              modalidad de atención que limita la movilidad y el bienestar de estas personas.</p>

            <p>Deseamos extender esta actividad recreativa como un servicio de esparcimiento a todas aquellas personas
              con dificultades en su movilidad, reconociendo sus múltiples necesidades como seres humanos.</p>
        </section>
        <section id="founders" class="section-founders py-5">
          <div class="container">
            <h2 data-aos="fade-down" class="text-center">Nuestros Fundadores</h2>
            <div class="row mt-4">
              <div data-aos="zoom-out-left" class="col-md-6 d-flex justify-content-center">
                <div class="card">
                  <img src="/img/fabi.jpg" class="card-img-top" alt="Fabian Fiori"
                    style="object-fit: cover; height: 200px;">
                  <div class="card-body text-center">
                    <h5 class="card-title">FABIAN FIORI</h5>
                    <p class="card-text" style="font-style: italic;">“Cierro los ojos y revivo el mismo pensamiento que
                      inundaba mi cabeza cada vez que una autoridad o funcionario me preguntaba 'dígame… ¿Qué necesita
                      su hijo?'. En ese instante llegaba la respuesta. Lo que mi hijo necesita también lo necesitan los
                      hijos de muchos otros. Hoy esa idea se convirtió en la matriz sagrada, en la estructura para
                      comenzar (y terminar) todas las acciones que emprendemos. Pensando colectivamente y sumando
                      voluntades, multiplicamos los resultados y hacemos del trabajo grupal un verdadero placer.”</p>
                  </div>
                </div>
              </div>
              <div data-aos="zoom-out-right" class="col-md-6 d-flex justify-content-center">
                <div class="card">
                  <img src="/img/rosana.jpg" class="card-img-top" alt="Rosana Balsamello"
                    style="object-fit: cover; height: 200px;">
                  <div class="card-body text-center">
                    <h5 class="card-title">ROSANA BALSAMELLO</h5>
                    <p class="card-text" style="font-style: italic;">“Sentí que tenía que hacer algo, que no me podía
                      quedar de brazos cruzados, que había que estar a la altura de las circunstancias. En contextos de
                      hostilidad el hombre en la evolución sobrevivió gracias a la capacidad de desarrollar lazos
                      cooperativos y solidarios. Si estamos juntos en la dificultad, tenemos más posibilidades de
                      obtener lo que necesitamos, de sentirnos acompañados en el camino y de fortalecer los lazos
                      empáticos que favorecen el devenir de una sociedad más justa e integrada.”</p>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </section>

        <section id="contact" class="section contact py-5">
          <div class="container">
            <h2 class="text-center">Tu aporte es muy valioso para nosotros</h2>
            <p class="text-center">La Fundación Emperador necesita de tu ayuda. Tu aporte es muy valioso para nosotros
              por eso te proponemos diferentes formas de ser parte de este espacio y sumarte a nuestro trabajo de cada
              día.</p>
            <div class="row justify-content-center mt-4">
              <div class="col-md-8">
                <form>
                  <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" required>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" required>
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="Escribe tu mensaje aquí"
                      required></textarea>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>

        <section id="donations" class="section donations py-5">
          <div class="container text-center">
            <h2 class="text-center">Haz tu Donación</h2>
            <p>Tu apoyo es fundamental para continuar con nuestro trabajo. Si deseas hacer una donación, por favor haz
              clic en el siguiente enlace (Mercado Pago):</p>
            <a href="https://www.mercadopago.com.ar/checkout/pay?pref_id=ID_DE_TU_PREFERENCIA" class="btn">Donar Ahora
            </a>
          </div>
        </section>

        <section id="location" class="section location py-5">
          <div class="container text-center">
            <h3>¡Encontranos en nuestra nueva sede!</h3>
            <div class="row mt-4">
              <div class="col-md-8">
                <iframe
                  src="https://www.google.com/maps/place/Bah%C3%ADa+Blanca+179,+S2013+Rosario,+Santa+Fe,+Argentina/@-32.92723,-60.688679,18z/data=!4m6!3m5!1s0x95b6534fb1d3e18b:0x647bf57b50e8f37f!8m2!3d-32.92723!4d-60.6886789!16s%2Fg%2F11f5vbc2fk?hl=es-419&entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D"
                  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" alt="google maps">
                </iframe>
              </div>
              <div class="col-md-4">
                <img src="/img/icons/logo-grande.svg" class="img-fluid" alt="Logo de la Fundación Emperador">
              </div>
            </div>
          </div>
        </section>

        <%- include('./partials/footer') %>
          <%- include('./partials/donate') %>


            <a id="scroll-up" class="scroll-up" href="#">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path fill="rgba(255,255,255,1)"
                  d="M11.9997 10.8284L7.04996 15.7782L5.63574 14.364L11.9997 8L18.3637 14.364L16.9495 15.7782L11.9997 10.8284Z">
                </path>
              </svg>
            </a>


  </body>

</html>