<!DOCTYPE html>
<html lang="es">



	<%- include('./partials/head',{
		title : 'Recuperar'
	}) %>
	<body>
		<div class="container"> <!-- Contenedor ppal -->
			<%- include('./partials/header') %>

    <div class="wrapper--reset">
        <form class="recover-form" action="">
            <h1 class="form-title">Recuperar Contraseña</h1>
            <div class="input-box">
                <input type="email" class="input-field" placeholder="Correo Electrónico" required>
                <i class='bx bxl-gmail icon'></i>
            </div>

            <button type="submit" class="btn">Enviar</button>

            <div class="login-link">
                <p>¿Ya tienes una cuenta? <a href="/users/login" class="login-link-text">Iniciar sesión</a></p>
            </div>
        </form>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>