<aside class="sidebar">
    <h2 class="sidebar-title">Opciones</h2>
    <a style="text-decoration: none;" class="opcion" href="/posts/add" id="agregar">+ Publicación</a>
    <a style="text-decoration: none;" class="opcion" href="/posts/list" id="eliminar">Publicaciones</a>
    <a style="text-decoration: none;" class="opcion" id="editar">+ Usuario</a>
    <a style="text-decoration: none;" class="opcion" id="editar">Usuarios</a>

</aside>