<div class="donate-icon">
  <a href="https://fundacionemperador.mipago.coop/home/1" class="donate-button" onclick="addBounceClass(event)">
      <lord-icon
          src="https://cdn.lordicon.com/xyboiuok.json"
          trigger="morph"
          state="morph-heart"
          colors="primary:#fff"
      ></lord-icon> Donar
  </a>
</div>