<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-header">
        <a class="navbar-brand logo" href="#">
            <img src="/img/icons/Logo-FE.svg" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                
                    <li class="nav-item active">
                        <a class="nav-link" href="/"> <img class="icono" src="/img/icons/home.svg" alt="icono home"></i></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/admin"><img class="icono" src="/img/icons/admin.svg" alt="icono admin"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img class="icono" src="/img/icons/setting.svg" alt="icono config"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"><img class="icono" src="/img/icons/help.svg" alt="icono contacto"></a>
                    
                
                    <% if (locals.userLogin) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/profile"><img class="icono" src="/img/icons/profile.svg" alt="icono perfil"></a>
                        </li> <li class="nav-item">
                            <a class="nav-link" href="/users/login"><img class="icono" src="/img/icons/logout.svg" alt="icono logout"></a>
                        </li>
                    <% }else{ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login"><img class="icono" src="/img/icons/login.svg" alt="icono login"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register"><img class="icono" src="/img/icons/register.svg" alt="icono registro"></a>
                        </li>
                    <% } %>
                
                
            </div>
    </nav>
</header>

<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header class="header-menu">
    <h1>Mi Sitio Web</h1>
    <button class="toggle-button" id="toggleButton">&#9776;</button> 
    <div class="menu-options">
        <a href="#home" class="text-white">Inicio</a>
        <a href="#about" class="text-white">Acerca de</a>
        <a href="#services" class="text-white">Servicios</a>
        <a href="#contact" class="text-white">Contacto</a>
    </div>
</header>

<div id="sidebar" class="sidebar">
    <h2>Menú</h2>
    <a href="#home" class="text-white">Inicio</a><br>
    <a href="#about" class="text-white">Acerca de</a><br>
    <a href="#services" class="text-white">Servicios</a><br>
    <a href="#contact" class="text-white">Contacto</a><br>
    <button id="closeSidebar" class="btn btn-light">Cerrar</button>
</div>

<script>
    const toggleButton = document.getElementById('toggleButton');
    const sidebar = document.getElementById('sidebar');
    const closeSidebar = document.getElementById('closeSidebar');

    toggleButton.addEventListener('click', ()-->